{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>{% block title %}7:30? Ne, děkujeme.{% endblock %} <small>A dřív už vůbec ne.</small></h1>
</div>

<div class="row">
  <div class="container col-md-6">
    <h2>Nepřejeme si výuku v 7:30</h2>
    <p>My, níže podepsaní členové akademické obce FIT ČVUT, apelujeme na vedení fakulty, aby harmonogram dne začínal později než
    v&nbsp;7:30 a aby výuka (kromě velmi výjimečných a&nbsp;odůvodněných případů) nebyla rozvrhována před 9:00.
    Totéž se týká rozvrhování zkoušek a jiných jednorázových akcí.</p>

    <h3>Výuka v noci škodí zdraví</h3>
    <p>[Data z nějaké studie, potřeba dohledat]</p>

    <h3>Na výuku v tuto hodinu prakticky nikdo nechodí</h3>
    <p>[Citace z ankety]</p>

    <h3>I vyučující podává menší výkon</h3>
    <p>Uvědomujeme si, že existují pedagogové, kteří si výuku před osmou hodinou vybrali sami,
    na úkor studentů. Ti ostatní ale trpí společně s&nbsp;nimi. Jedna věc je, snažit se v&nbsp;době, kdy jste
    normálně zvyklí spát, hodinu a půl někoho poslouchat, ještě těžší je ale předávat své vědomosti
    ostatním. Výsledkem může být přednáška nevalné kvality, nebo utrpení samotného pedagoga.</p>

    <blockquote class="twitter-tweet" lang="cs">
      <p><a href="https://twitter.com/hroncok">@hroncok</a> Je to fakt děs běs, dneska &quot;ráno&quot; jsem trpěl jako zvíře :/</p>
        &mdash; Karel Klouda (@KarelKlouda) <a href="https://twitter.com/KarelKlouda/status/544777733507923968">16. prosince, 2014</a>
    </blockquote>

    <h3>[Další pádný důvod]</h3>
    <p>[Něco chytrého vymyslet]</p>
  </div> 
  <div class="container col-md-6">
    <h2>Podepsat petici</h2>
    {% if user.is_authenticated %}
    <p>Jste přihlášen jako FIŤák {{ user.username }}
    {% if user.get_full_name %}({{ user.get_full_name }}){% endif %}.
    <a  class="btn btn-xs btn-danger" href="/logout/">Odhlásit</a></p>

    {% if longuser %}
      <p>Pokud jste se v minulosti přihlásili na tento web přes Google a petici podepsali, prosím, nepodepisujte ji znovu.</p>
    {% endif %}
    
    {% if user.signature.signed %}
    <p>Děkujeme za vaši podporu. Pokud byste si to přáli, kdykoliv se sem můžete vrátit, přihlásit se a <a href="{% url 'views.toggle' %}">svůj podpis zrušit</a>, ačkoli byste nás tím velice zarmoutili.</p>
    {% else %}
    <p><a href="{% url 'views.toggle' %}" class="btn btn-lg btn-primary">Podepsat petici</a></p>
    {% endif %}
    
    
    {% else %}
      {% if badroles %}
      <p>Podle Usermapu nejste student ani zaměstnanec FIT ČVUT.
      Pokud si myslíte, že je to špatně, kontaktujte nás přes GitHub (odkaz je v patičce).</p>
      {% endif %}
        <p><a href="{% url 'social:begin' 'fit' %}" class="btn btn-lg btn-primary">Přihlásit se přes fakultní účet</a></p>
    {% endif %}
    
    <h2>Signatáři ({{ total }})</h2>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Člen akademické obce FIT ČVUT</th>
          <th>Podepsal petici</th>
        </tr>
      {% for signature in signatures %}
        <tr>
          <td>{% if signature.user.get_full_name %}{{ signature.user.get_full_name }} ({{ signature.user }}){% else %}{{ signature.user }}{% endif %}</td>
          <td>{{ signature.timestamp }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="2">Nikdo petici ještě nepodepsal. Je na čase to změnit.</td><tr>
      {% endfor %}
      </table>
    </div>
    
    {% if signatures.paginator.num_pages > 1 %}
    <ul class="pagination">
      <li{% if not signatures.has_previous %} class="disabled"{% endif %}>
        <a{% if signatures.has_previous %} href="?page={{ signatures.previous_page_number }}"{% endif %}>&laquo;</a>
      </li>
      {% for num in signatures.paginator.page_range %}
        {% ifequal num signatures.number %}
          <li class="active"><a>{{ num }}<span class="sr-only">(current)</span></a></li>
        {% else %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endifequal %}
      {% endfor %}
      <li{% if not signatures.has_next %} class="disabled"{% endif %}>
        <a{% if signatures.has_next %} href="?page={{ signatures.next_page_number }}"{% endif %}>&raquo;</a>
      </li>
    </ul>
    {% endif %}
  </div>   
</div>  
{% endblock %}

{% block scripts %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
