{% extends "base.html" %}
{% load detail %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
  <h1>{% block title %}7:30? Ne, děkujeme.{% endblock %} <small>A dřív už vůbec ne.</small></h1>
</div>

<div class="row">
  <div class="container col-md-6">
    <h2>Nepřejeme si výuku v&nbsp;7:30</h2>
    <p>My, níže podepsaní členové akademické obce FIT ČVUT v&nbsp;Praze, apelujeme na vedení fakulty, aby harmonogram dne začínal později než
    v&nbsp;7:30 a aby výuka (kromě velmi výjimečných a&nbsp;odůvodněných případů) nebyla rozvrhována před 9:00.
    Totéž se týká rozvrhování zkoušek a jiných jednorázových akcí.</p>

    <h3>Výuka velmi brzy ráno škodí zdraví</h3>
    <p>Opravdu, výuka brzy ráno (prakticky v&nbsp;noci) způsobuje řadu problémů. Vede ke spánkové deprivaci a celé řadě dalších psychologických i fyzických problémů, stejně tak negativně ovlivňuje samotnou schopnost studentů něco se naučit.</p>

    <p>
      <a href="http://www.universityherald.com/articles/9282/20140507/morning-classes-education-health-teens-sleep-students.htm">Toto</a>
      <a href="http://www.socsd.org/pdfs/schoolstarttimes.pdf">nejsou</a>
      <a href="http://edition.cnn.com/2014/08/28/health/school-start-times/">pouze</a>
      <a href="http://www.scientificamerican.com/article/school-starts-too-early/">domněnky</a>,
      <a href="http://en.wikipedia.org/wiki/Start_School_Later_movement">existuje</a>
      <a href="http://sleepfoundation.org/sleep-news/school-start-time-and-sleep">řada</a>
      <a href="http://schoolstarttime.org/early-school-start-times/academic-performance/">studií</a>,
      <a href="http://cehdvision2020.umn.edu/cehd-blog/later-high-school-start-times/">článků</a>
      <a href="http://www.apa.org/monitor/oct01/sleepteen.aspx">a</a>
      <a href="https://www.aap.org/en-us/about-the-aap/aap-press-room/Pages/Let-Them-Sleep-AAP-Recommends-Delaying-Start-Times-of-Middle-and-High-Schools-to-Combat-Teen-Sleep-Deprivation.aspx">materiálů</a>,
      <a href="http://center4research.org/child-teen-health/early-morning-classes-sleepy-students-and-risky-behaviors/">zabývajících</a>
      <a href="http://content.time.com/time/health/article/0,8599,1903838,00.html">se</a>
      <a href="http://time.com/3162265/school-should-start-later-so-teens-can-sleep-urge-doctors/">tímto</a>
      <a href="https://student.societyforscience.org/article/early-school-starts-can-turn-teens-%E2%80%98zombies%E2%80%99">tématem</a>. Většina odkazovaných materiálů se soustředí hlavně na studenty středních škol a teenagery, ale stejné věci platí i pro adolescenty a studenty vysokých škol.</p>

    <h3>Výuka v&nbsp;7:30 znamená vstávat v 5</h3>
    <p>Pro mnoho z nás není ani takový problém být v 7:30 vzhůru a při vědomí, ale vstát ráno včas, abychom mohli být v&nbsp;7:30 ve škole.
    Ne každý bydlí v&nbsp;Dejvicích a dostat se do školy taky nějakou dobu trvá. Mnohdy to znamená vstávání kolem páté hodiny v&nbsp;noci.</p>

    <blockquote class="twitter-tweet" lang="cs">
      <p><a href="https://twitter.com/hroncok">@hroncok</a> Tak v 5:10. Pokud bys zrelaxoval podminku na to byt v Dejvicich v ~7:40, tak v 5:30.</p>&mdash; Tomáš Pecka (@evandar) <a href="https://twitter.com/evandar/status/576420742633488384">13. března, 2015</a>
    </blockquote>

    <h3>Na výuku v&nbsp;tuto hodinu prakticky nikdo nechodí</h3>
    <p>Malá ochutnávka ze studentské ankety, u předmětu s přednáškou v&nbsp;pondělí 7:15 ráno. Přednáška byla oproti tradičnímu času 7:30 ještě o 15 minut dříve, což si někteří studenti ani nevšimli, protože tam zkrátka nikdy nebyli:</p>
    <blockquote class="twitter-tweet" lang="cs">
      <p>Drahá <a href="https://twitter.com/FIT_CTU">@FIT_CTU</a>, kdy už to konečně pochopíš? <a href="http://t.co/9QLnVEPtOb">pic.twitter.com/9QLnVEPtOb</a></p>&mdash; Miro Hrončok (@hroncok) <a href="https://twitter.com/hroncok/status/575810882397151233">12. března, 2015</a>
    </blockquote>
    <p>Zde pak přikládám pro ilustraci ještě obrázek z Facebookové skupiny <em>Hlášky z FITu</em>:</p>
    <p><img src="{% static 'adu.png' %}" alt="[ADU][Zdarek] Při vstupu do přednáškovky v&nbsp;7:30 ráno, kde sedí jen hrstka největších vytrvalců, utrousí: Je to paráda, nejsem tady sám." class="img-responsive" /></p>

    <h3>I vyučující podává menší výkon</h3>
    <p>Uvědomujeme si, že existují pedagogové, kteří si výuku před osmou hodinou vybrali sami,
    na úkor studentů. Ti ostatní ale trpí společně s&nbsp;nimi. Jedna věc je, snažit se v&nbsp;době, kdy jste
    normálně zvyklí spát, hodinu a půl někoho poslouchat, ještě těžší je ale předávat své vědomosti
    ostatním. Výsledkem může být přednáška nevalné kvality, nebo utrpení samotného pedagoga.</p>

    <blockquote class="twitter-tweet" lang="cs">
      <p><a href="https://twitter.com/hroncok">@hroncok</a> Je to fakt děs běs, dneska &quot;ráno&quot; jsem trpěl jako zvíře :/</p>
        &mdash; Karel Klouda (@KarelKlouda) <a href="https://twitter.com/KarelKlouda/status/544777733507923968">16. prosince, 2014</a>
    </blockquote>

    <h3>Zkouška v&nbsp;7:30 znevýhodňuje některé studenty</h3>
    <p>Někdo vstává se slepicemi, někdo ve stejnou dobu chodí spát.
    Studentky a studenti, kteří nejsou fyzicky schopní být v&nbsp;7:30 na přednášce, jsou dále
    znevýhodněni především při zkoušce. Přemůžou se a na zkoušku v&nbsp;7:30 dorazí, protože nemají jinou
    možnost. Na zkoušce ale logicky nemohou podat tak dobrý výkon, jako kdyby se konala přes den.
    Občas se říká: „Měl bys to umět, i kdyby tě vzbudili uprostřed noci.“ Je ale opravdu nutné to praktikovat?</p>

    <blockquote class="twitter-tweet" lang="cs">
      <p><a href="https://twitter.com/kalvotom">@kalvotom</a> <a href="https://t.co/J1jARyz3IS">https://t.co/J1jARyz3IS</a></p>&mdash; Miro Hrončok (@hroncok) <a href="https://twitter.com/hroncok/status/576474892327108608">13. března, 2015</a>
    </blockquote>

    <h3>Nestojíme ani o výuku až do noci</h3>
    <p>Nepřejeme si posun časů výuky o hodinu a půl k večeru. Stojíme o efektivnější využití časů přes den, kapacity místností na to zatím stále jsou.
    Bude to těžké, ale ne nemožné.</p>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> 
  <div class="container col-md-6">
    <h2>Podepsat petici</h2>
    {% if user.is_authenticated %}
    <p>Jste přihlášen(a) jako {{ user.username }}{% if user.get_full_name %} ({{ user.get_full_name }}){% endif %}.
    <a  class="btn btn-xs btn-danger" href="/logout/">Odhlásit</a></p>

    {% if user.signature.signed %}
    <p>Děkujeme za vaši podporu. Pokud byste si to přál(a), kdykoliv se sem můžete vrátit, přihlásit se a <a href="{% url 'views.toggle' %}">svůj podpis zrušit</a>, ačkoli byste nás tím velice zarmoutil(a).</p>

    <p>Pomozte nám petici rozšířit:</p>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" lang="cs" data-text="Podepsal jsem petici proti výuce v 7:30 na @FIT_CTU." data-hashtags="730ne" data-url="http://730ne.cz/">Tweet</a>
      <div id="fb-root"></div>
      <div class="fb-share-button" data-layout="button_count" data-href="http://730ne.cz/"></div>
    </p>

    {% else %}
    <p><a href="{% url 'views.toggle' %}" class="btn btn-lg btn-primary">Podepsat petici</a></p>
    {% endif %}
    
    
    {% else %}
      {% if badroles %}
      <p>Podle Usermapu nejste student ani zaměstnanec FIT ČVUT.
      Pokud si myslíte, že je to špatně, kontaktujte nás přes GitHub (odkaz je v&nbsp;patičce).</p>
      {% endif %}
        <p><a href="{% url 'social:begin' 'fit' %}" class="btn btn-lg btn-primary">Přihlásit se přes fakultní účet</a></p>
    {% endif %}
    
    <h2>Signatáři ({{ total }})</h2>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <th>Člen(ka) akademické obce FIT ČVUT</th>
          <th>Podepsal(a) petici</th>
        </tr>
      {% for signature in signatures %}
        <tr>
          <td>{{ signature.user|detail }}</td>
          <td>{{ signature.timestamp }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="2">Nikdo petici ještě nepodepsal. Je na čase to změnit.</td><tr>
      {% endfor %}
      </table>
    </div>
    
    {% if signatures.paginator.num_pages > 1 %}
    <ul class="pagination">
      <li{% if not signatures.has_previous %} class="disabled"{% endif %}>
        <a{% if signatures.has_previous %} href="?page={{ signatures.previous_page_number }}"{% endif %}>&laquo;</a>
      </li>
      {% for num in signatures.paginator.page_range %}
        {% ifequal num signatures.number %}
          <li class="active"><a>{{ num }}<span class="sr-only">(current)</span></a></li>
        {% else %}
          <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endifequal %}
      {% endfor %}
      <li{% if not signatures.has_next %} class="disabled"{% endif %}>
        <a{% if signatures.has_next %} href="?page={{ signatures.next_page_number }}"{% endif %}>&raquo;</a>
      </li>
    </ul>
    {% endif %}

    <a class="twitter-timeline" href="https://twitter.com/hashtag/730ne" data-widget-id="576439663159873536" lang="cs">#730ne Tweets</a>

  </div>   
</div>  
{% endblock %}

{% block scripts %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&appId=855997864419145&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}
